.doctorPage {
    width: 100%;
    min-height: calc(100vh - 751px);

    &__specialization {
        color: #c4c4cd;
        font-size: 32px;
        padding-top: 33px;
        line-height: 150%;
    }

    &__image {
        min-height: 600px;

        @media (max-width: 900px) {
            min-height: auto;
            width: 100vw;
        }
    }
}
